<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id: 4875ec4cbd861bf59dacc3de -->
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
    <xacro:include filename="xacro_properties/xacro_properties.xacro" />
    <xacro:include filename="modules/base_and_wheels.xacro" />
    <xacro:include filename="modules/camera.xacro" />
    <xacro:include filename="modules/lidar.xacro" />
    <xacro:include filename="gazebo/gazebo_plugins.xacro" />
    <xacro:include filename="gazebo/gazebo_properties.xacro" />

</robot>
